#homeMainDiv{
font-family: 'Nunito', sans-serif;
background-color: #EAF6F6;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 20px;
padding-top: 1px;
margin-top: 20px;
padding-bottom: 10px;
}

#homeSpinnerDiv{
    margin-top: 10%;
    margin-left: 47%;
}

#homeLoadingEvents {
    font-size: 1.7rem;
    margin-top: 28px;
    margin-left: 32.5%;
}
